h1 {
  color: rebeccapurple;
  display: flex;
  justify-content: center;
}
p {
  color: salmon;
  size: 4px;
}
body {
  background-color: beige;
  padding: auto;
}
.make {
  background-color: salmon;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}

.make:hover {
  background-color: rebeccapurple;
}

.make:active {
  background-color: rgb(29, 113, 126);
}

.high {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: aqua;
  border: 10px;
  margin: 10px;
  border-radius: 3px;
}
.high:hover {
  color: gold;
  background-color: royalblue;
}
.box {
  display: inline;
}
.button {
  background-color: rgb(249, 249, 15);
  border: 10px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  height: 50px;
  color: black;
  margin-left: 300px;
}
.button:hover {
  background-color: rgb(57, 153, 73);
  border: 10px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 300px;
}
